{{!-- Item Description Partial --}}
<div class="item-description">
  <div class="description">
    <label>Description</label>
    {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</div>