{{!-- Item Description Section --}}
<div class="item-description">
  <div class="form-group">
    <label>Description</label>
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</div>